{{> admin_nav}}
<h1>{{title}}</h1>
<form id="form" action="/admin/categories" method="POST">
{{#with category}}
    <div class="form-group">
        <label for="form_name_raw">原始名：</label>
        <input  value="{{name_raw}}"
                id="form_name_raw" class="form-control data-upload" name="name_raw" type="text" placeholder="大小写字母、数字、下划线">
        <span id="tip" style="display: none;">原始名重复</span>
    </div>
    <div class="form-group">
        <label for="form_name">分类显示名：</label>
        <input  value="{{name}}"
                id="form_name" class="form-control data-upload" name="name" type="text">
    </div>
    <div class="form-group">
        <label for="form_weight">权重：</label>
        <select id="form_weight" class="form-control data-upload" name="weight">
        {{#each ../weights}}
            {{#if this.selected}}
            <option value="{{this.weight}}">{{this.weight}}</option>
            {{else}}
            <option value="{{this.weight}}" selected>{{this.weight}}</option>
            {{/if}}
        {{/each}}
        </select>
    </div>
    <div class="form-group">
        <input data-id="{{_id}}" id="submit" type="submit" value="提交">
    </div>
{{/with}}
</form>

<script src="/javascripts/jquery.js"></script>
<script>
    var globalVar = { name_raw:'{{category.name_raw}}' };
</script>
<script>
$(function() {
    var $form = $('#form');
    var $uplaadElems = $('.data-upload');

    var $tip = $('#tip'),
        init_name_raw = globalVar.name_raw,
        name_raw = '';
    $('#form_name_raw').on('focus', function() {
        name_raw = this.value.trim();
    });
    $('#form_name_raw').on('blur', function() {
        var value = this.value.trim();
        if (!value || value === name_raw || value === init_name_raw) {
            return;
        }
        $.ajax({
            url: '/admin/categories/' + value + '/check',
            dataType: 'json'
        })
        .done(function(data) {
            if (data.repeat) {
                $tip.show();
            } else if (data.repeat === false) {
                $tip.hide();
            }
        });
    });

    $('#submit').on('click', function(event) {
        event.preventDefault();
        var dataObj = {},
            dataBool = true;
        var id = $(this).data('id');

        $uplaadElems.each(function(index, elem) {
            var $elem = $(elem),
                value = $elem.val();
            if (typeof value === 'string'){
                value = value.trimRight();
            }
            if (!value && !$elem.data('optional')) {
                return dataBool = false;
            }
            dataObj[$elem.attr('name')] = value;
        });
        if (!dataBool) {
            return console.log('请填写完整');
        }
        console.log(dataObj);
        $.ajax({
            url: '/admin/categories/' + id,
            type: 'PUT',
            dataType: 'json',
            data: dataObj
        })
        .done(function(data) {
            if (!data.state) {
                return console.log('更新失败，表单填写或许有误');
            }
            alert('更新成功');
            // window.location.reload();
        });

    });
});
</script>
