{{> admin_nav}}
<h1>{{title}}</h1>
<table id="table" style="width: 800px;">
    <caption>分类列表，第{{page}}页，共{{total}}页</caption>
    <thead>
        <tr>
            <th>分类名</th>
            <th>原始名</th>
            <th>权重</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {{#each categories}}
        <tr data-id="{{_id}}">
            <td><a href="/categories/{{name_raw}}" title="{{name}}" target="_blank" class="single-line">{{name}}</a></td>
            <td>{{name_raw}}</td>
            <td>{{weight}}</td>
            <td> {{#timeFormatter create_at "yy-MM-dd HH:mm:ss"}}{{/timeFormatter}} </td>
            <td>
                <a href="/admin/categories/{{_id}}" target="_blank" class="btn btn-info btn-sm">修改</a>
                <button class="delete btn btn-danger btn-sm" type="button">删除</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

{{#paging total page '/admin/categories/posts/'}}{{/paging}}

<script src="/javascripts/jquery.js"></script>
<script>
$(function() {
    $('#table').on('click', '.delete', function(event) {
        event.preventDefault();
        var id = $(this).closest('tr').data('id');
        if (confirm('是否删除该分类')) {
            $.ajax({
                url: '/admin/categories/' + id,
                type: 'DELETE',
                dataType: 'json'
            })
            .done(function(data) {
                if (!data.state) {
                    return alert('删除失败');
                }
                alert('删除成功');
            })
            .fail(function() {
                console.log("error");
            });
        }
    });
});
</script>
